<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Vox.com News Scraper Using Mongo</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new" href="/">SCRAPE for new articles</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
   <div class="overlay">
    </div> 
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>News Scraper Using Mongo DB</h1>
        <p>(Vox.com as a data source)</p>
    </div>
</div>
<div class="container article-container">
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12"><p>&#160;</p></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <hr />
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8 ital footer">
                <p>
                    &#064;2017 <a href="mailto:bonnieho@rice.edu">Bonnie L. Hoffman</a>&#160;&#160;(Created as a requirement toward the completion of The University of Texas at Houston Coding Bootcamp)<br />
                    SYNOPSIS: This exercise showcases the implemetation of javascript, Bootstrap3, Mongo, Mongoose, Node.js, Express, and Handlebars to create a dynamic web page that uses a data scraper to populate the page with articles from an online news site. Once populated, articles can be selected individually and a custom note may be made and saved.
                </p>
                <p>
                    DISCLAIMER: This site is not affiliated with Vox.com, and is presented here for educational purposes only.
                </p>
            <div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12"><p>&#160;</p></div>
        </div>
    </div>
</footer>
<script src="../../assets/javascript/index.js"></script>