/* The following styles are homegrown; intended to supplement Bootstrap's CDN content with my own customization. */

body {
    color: #666;
    /* font-family: 'IM Fell DW Pica'; */
    font-family: courier, monospace;
    margin-bottom: 48px;
    /* background-image: url(../images/White-handmade-paper-texture-or-background-Stock-Photo.jpg); */
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 309px;
    padding: 0;
    box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background: linear-gradient(#333, black);
    opacity: 0.7;
}

.jumbotron .background-image {
    height: 100%;
    background-image: url("../images/typewriter_sm_309h.png");
    background-size: cover;
}

.jumbotron .caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #ccc;
}

h1,
h2 {
    /* font-family: 'IM Fell DW Pica'; */
    font-family: courier, monospace;
    /* font-family: 'Goudy Bookletter 1911', serif; 
	font-family: 'IM Fell DW Pica', serif; kind of pirate-y
    font-family: 'IM Fell DW Pica SC', serif; OLDER kind of pirate-y 
    font-family: 'IM Fell Double Pica', serif; brighter, cleaner 
    font-family: 'IM Fell English SC', serif; REALLY pirate-y smallcaps */
}

h1 {
    font-size: 400%;
}

p {
    text-align: center;
}

.ital {
    font-style: italic;
}


/* ===========  START navbar stuff  ==============  */

.navbar-header {
    color: #ccc;
}

.navbar-brand .nav .navbar-nav {
    color: #ccc;
}

.navbar-brand .nav .navbar-nav .active {
    color: #fff;
}

.btn .btn-danger .scrape-new {
    color: #ccc;
}


/* ===========  END navbar stuff  ==============  */


/* ===========  START panel stuff  ==============  */

.panel {
    border-radius: 0;
    box-shadow: 3px 3px 12px lightslategrey;
    margin-bottom: 36px;
}

.panel .panel-default .panel-heading {
    /* background-color: #D3D3D3; */
    background-color: #ccc;
    padding-right: 64px;
}

.panel.panel-default .panel-heading .btn {
    float: right;
    margin-right: 5px;
    margin-bottom: 36px;
    margin-left: 5px;
}

.panel-body {
    padding-top: 12px;
}

.summary {
    font-family: arial, helvetica, sans-serif;
    font-style: italic;
    font-size: 120%;
    display: block;
    margin-bottom: 4px;
}

.sublink {
    font-family: courier, monospace;
    font-style: normal;
    font-size: 90%;
}


/* ===========  END panel stuff  ==============  */

.footer {
    font-size: 80%;
}

textarea {
    padding: 10px;
    resize: none;
}

.bootbox-body .btn {
    float: right;
    margin: 5px;
}

.note .list-group-item {
    padding: 30px;
}

.note .list-group-item .btn {
    position: relative;
    bottom: 10px;
}


/* ==================================================
=            Bootstrap 3 Media Queries             =
================================================== */


/* ==========  Mobile First Method  ========== */


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .row-top {
        min-height: 54px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .row-top {
        min-height: 86px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .row-top {
        min-height: 128px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    /* already ok at this size */
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    /* already this size */
}


/* ==========  Non-Mobile First Method  ========== */


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    /* already ok at this size */
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    /* already this size */
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .row-top {
        min-height: 128px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .row-top {
        min-height: 86px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .row-top {
        min-height: 54px;
    }
}